<div class="flex flex-col items-center space-y-6">
  <!-- Heading -->
  <h1 class="text-2xl font-semibold">Control Flow Directives</h1>

  <!-- Conditionally display divs based on isDivSuccess using *ngIf -->
  <div *ngIf="isDivSuccess; else elseBlock">
    <div class="px-5 py-5 shadow-lg bg-green-300 rounded-lg">
      <p class="text-center text-white">Success</p>
    </div>
  </div>

  <!-- This block will be shown if isDivSuccess is false -->
  <ng-template #elseBlock>
    <div class="px-5 py-5 shadow-lg bg-red-300 rounded-lg">
      <p class="text-center text-white">Failure</p>
    </div>
  </ng-template>

  <!-- Toggle button to switch between success and failure -->
  <button
    type="button"
    class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
    (click)="toggleDiv()"
  >
    Toggle
  </button>
</div>

<hr class="my-8 border-amber-400 border-2" />

<div>
  <table>
    <thead>
      <tr class="bg-gray-200 text-left">
        <th class="px-4 py-2 border border-gray-300">Id</th>
        <!-- <th class="px-4 py-2 border border-gray-300">Status</th> -->
        <th class="px-4 py-2 border border-gray-300">Name</th>
        <th class="px-4 py-2 border border-gray-300">Gender</th>
        <th class="px-4 py-2 border border-gray-300">Position</th>
        <th class="px-4 py-2 border border-gray-300">Department</th>
        <th class="px-4 py-2 border border-gray-300">Score</th>
      </tr>
    </thead>
    <tbody>
      @for( emp of Employees ; track emp.id)
      {
         <tr >
        <td class="px-4 py-2 border border-gray-300">{{ emp.id }}</td>
        <td class="px-4 py-2 border border-gray-300">{{ emp.name }}</td>
        <td class="px-4 py-2 border border-gray-300">{{ emp.description }}</td>
        <td class="px-4 py-2 border border-gray-300">{{ emp.position }}</td>
        <td class="px-4 py-2 border border-gray-300">{{ emp.department }}</td>
        <td class="px-4 py-2 border border-gray-300">{{ emp.score }}</td>

      </tr>
    }
    </tbody>
  </table>
</div>
