
<div class="w-full min-h-screen flex flex-col items-center justify-center bg-gray-400">
  <h1  class="text-4xl top-0 ">Counter App</h1>
  <div class="mt-6 p-4 font-extrabold bg-gray-200 rounded-lg">
    {{counter}}
  </div>

  <div class="m-3 p-4 bg-gray-200 rounded-lg">
    <button class="p-3 bg-green-400 rounded-md mr-2"  (click)="handleCounter('add')">Increment</button>
    <button class="p-3 bg-blue-400 rounded-md mr-2" (click)="handleCounter('reset')">Reset</button>
    <button class="p-3 bg-red-500 rounded-md mr-2" (click)="handleCounter('sub')">Decrement</button>
  </div>
</div>
